li:nth-child(odd){
    background-color: rgb(12, 236, 199);

}
li:nth-child(5){
    background-color: rgb(230, 38, 150);
    
}
li:nth-last-child(-2n+3){
    background-color: rgba(255, 166, 0, 0.863);
}